* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: black;
}
main {
  background-color: rgb(226, 232, 240);
}
#wrapper {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}
#content {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100%;
}
aside {
  color: aliceblue;
  background-color: #1992d4;
  min-height: 100%;
}
aside img {
  filter: invert(100%);
  height: 1.2em;
  vertical-align: middle;
  width: auto;
}
h2 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 20px 0 40px 20px;
}

nav li {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 20px;
  gap: 16px;
  font-weight: bold;
}
.nav-divider {
  padding-top: 20px;
}
#right-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#header {
  box-shadow: 0px 5px 5px #ccd1d9;
  background-color: white;
}
#input-form {
  display: flex;
  box-sizing: content-box;
  height: 25px;
  gap: 16px;
  padding: 20px 0 0 20px;
}
input {
  background-color: #e2e8f0;
  border-radius: 50px;
  width: 30em;
  border: none;
}
#top-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#user-info {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 20px 20px 0 0;
  font-weight: bold;
  font-size: 16px;
}
#user-info img {
  height: 40px;
}
#user-info button {
  border: none;
  background: none;
  cursor: pointer;
}
#user-info button img {
  height: 20px;
  width: 20px;
}
#bottom-header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  gap: 100px;
}
#user-greeting {
  display: flex;
  gap: 8px;
}
#user-greeting img {
  height: 50px;
  /* border: 2px solid ; */
  border-radius: 50px;
}
span {
  font-size: 12px;
  font-weight: bold;
}
#header-action {
  display: flex;
  gap: 24px;
}
.header-btn {
  border-radius: 50px;
  background-color: #1992d4;
  color: aliceblue;
  border: none;
  padding: 8px 16px;
  height: 36px;
  width: 86px;
  font-weight: bold;
}
main {
  display: flex;
  flex: 1;
}
#projection-section {
  flex: 6;
}
#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.project-card {
  background-color: white;
}
.btn-action {
  display: flex;
  justify-content: end;
  padding: 30px;
  gap: 18px;
}
.btn-action button {
  display: flex;
  width: 20px;
  border: none;
  background: none;
}
#right-sidebar {
  flex: 4;
  margin: 20px;
  min-width: 300px;
}
#sidebar-card-border {
  background-color: white;
  padding: 0 20px 0 20px;
  border-radius: 10px;
  margin: 10px 0 20px 0;
  box-shadow: 5px 5px 5px #ccd1d9;
}

.sidebar-card {
  padding: 20px;
  position: relative; /*Ensure positioning context for pseudo-element*/
}

/* Add a separator line after each card except the last one */
.sidebar-card + .sidebar-card::before {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: -30px;
  margin-bottom: 20px; 
}

.sidebar-card p {
  font-size: 12px;
  margin-top: 4px;
  color: #636363;
}

